.ͼ2 .cm-gutters {
  background: none;
}

.ͼ1.cm-editor.cm-focused {
  outline: none;
}

.ͼ1.cm-focused {
  outline: none;
}

.ͼ1.cm-focused .cm-matchingBracket {
  background-color: $header-background;
}

.ͼ2 .cm-activeLine {
  background: none;
}

.ͼ2 .cm-activeLineGutter {
  background: none;
}
