.c2 .cm-gutters {
  background: none;
}

.c1.cm-editor.cm-focused {
  outline: none;
}

.c1.cm-focused {
  outline: none;
}

.c1.cm-focused .cm-matching-bracket {
  background-color: $header-background;
}

.c2 .cm-active-line {
  background: none;
}

.c2 .cm-active-line-gutter {
  background: none;
}
