@mixin flex-row($align: center, $justyfy: center) {
  display: flex;
  align-items: $align;
  justify-content: $justyfy;
}

@mixin flex-colum($align: center, $justyfy: center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justyfy;
}
