$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// colors
$base-color: #7b3fdb;
$red-shade: #f25c54;
$input-color: #fbf9ff;
$additional-input-color: #dbdbdb;
$output-color: #fbf9ff96;
$text-color-1: #3a396d;
$text-color-2: #0696c4;
$text-color-3: #696969;
$main-button-color: #45d1b5;
$additional-button-color: #4484ff;
$error-color: rgb(207 38 123);

// backgrounds
$base-background-light: #f4edff;
$header-background: #7b3fdb20;
$mian-background: #d2cbde;
$transparent-dark: rgb(0 0 0 / 60%);
$white: #fff;

// screen

$mobile: 375px;
$additional-size: 535px;
$tablet: 768px;
