$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// colors
$base-color: #7b3fdb;

// backgrounds
$base-background-light: #f4edff;
$header-background: #7b3fdb20;
$mian-background: #d2cbde;
