.main-section {
  @include flex-row();
  position: relative;
  height: calc(100vh - 114px);
  background: $mian-background;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
}
.request-section {
  @include flex-colum(stretch, space-between);
  height: 100%;
  width: 50%;
  padding: 10px 10px 15px 10px;
  position: relative;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}
.response-section {
  height: 100%;
  width: 50%;
  padding: 10px 10px 15px 10px;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.output-wrapper {
  background: lighten($mian-background, $amount: 8);
  border-radius: 8px;
  height: 100%;
  width: full;
}

.json-input {
  margin-top: 10px;
  flex-grow: 1;
  padding: 10px;
  background: $input-color;
  color: $text-color-2;
  border-radius: 8px 8px 0 0;
  border: 0;
  outline: none;
  overflow-y: scroll;
}

.json-output {
  height: 100%;
  padding: 10px 25px 10px 10px;
  outline: none;
  overflow-y: scroll;
}

.action-button {
  @include flex-row(center, center);
  position: absolute;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid $white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1882352941);
  cursor: pointer;
  transition: 300ms;
}

.run-button {
  top: 70px;
  background: $main-button-color;
  &:hover {
    background: lighten($color: $main-button-color, $amount: 10);
  }
  &:disabled {
    background: darken($color: $main-button-color, $amount: 10);
    border-color: darken($color: $white, $amount: 10);
    cursor: auto;
  }
}
.prettyfy-button {
  top: 118px;
  background: $additional-button-color;
  &:hover {
    background: lighten($color: $additional-button-color, $amount: 10);
  }
}

.docs-badge {
  position: absolute;
  top: 100px;
  right: -52px;
  width: 140px;
  border: 0;
  border-radius: 5px 5px 0 0;
  background-color: $main-button-color;
  color: $white;
  padding: 10px 15px;
  transform: rotate(-90deg);
  cursor: pointer;
  transition: 300ms;
  z-index: 2;
  font-size: 16px;
  &:hover {
    background-color: lighten($color: $main-button-color, $amount: 10%);
  }
  @media screen and (max-width: $tablet) {
    top: 450px;
  }
}

.not-hover {
  &:hover {
    background-color: $main-button-color;
  }
  cursor: auto;
}

.docs-section {
  position: absolute;
  right: 0;
  display: flex;
  align-items: stretch;
  width: 0;
  overflow: hidden;
  height: 100%;
  padding: 0;
  flex-shrink: 0;
  transition: width 300ms;
  background: $transparent-dark;
  border-radius: 10px;


  &.docs-section-open {
    padding: 10px;
    overflow: auto;
  }

  .docs-section-content {
    min-width: 300px;
    max-width: 300px;
    height: fit-content;
    background-color: $white;
    border-radius: 8px;
    margin-right: 10px;
    padding: 20px;
    white-space: normal;
  }
}

.loader-wrapper {
  @extend .docs-section;
  @extend .docs-section-open;
  width: 350px;
}

.loader {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent $main-button-color $main-button-color;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

