.main-section {
  @include flex-row();
  position: relative;
  height: calc(100vh - 114px);
  background: $mian-background;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
}
.request-section {
  height: 100%;
  width: 50%;
  padding: 10px 10px;
  position: relative;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}
.response-section {
  height: 100%;
  width: 50%;
  padding: 10px 10px;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.json-input {
  margin-top: 10px;
  height: calc(100% - 51px);
  width: 100%;
  padding: 10px;
  background: $input-color;
  color: $text-color-2;
  border-radius: 8px;
  border: 0;
  outline: 0;
}

.json-output {
  height: calc(100% - 3px);
  width: 100%;
  padding: 10px;
  background: $output-color;
  color: $text-color-3;
  border-radius: 8px;
  border: 0;
  outline: 0;
}

.action-button {
  @include flex-row(center, center);
  position: absolute;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid $white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1882352941);
  cursor: pointer;
  transition: 300ms;
}

.run-button {
  top: 70px;
  background: $main-button-color;
  &:hover {
    background: lighten($color: $main-button-color, $amount: 10);
  }
}
.prettyfy-button {
  top: 118px;
  background: $additional-button-color;
  &:hover {
    background: lighten($color: $additional-button-color, $amount: 10);
  }
}

.docs-badge {
  position: absolute;
  top: 100px;
  right: -52px;
  width: 140px;
  border: 0;
  border-radius: 5px 5px 0px 0px;
  background-color: $main-button-color;
  color: $white;
  padding: 10px 15px;
  transform: rotate(-90deg);
  cursor: pointer;
  transition: 300ms;
  z-index: 10;
  font-size: 16px;
  &:hover {
    background-color: lighten($color: $main-button-color, $amount: 10%);
  }
  @media screen and (max-width: $tablet) {
    top: 450px;
  }
}

.docs-section {
  position: absolute;
  right: 0;
  display: flex;
  align-items: stretch;
  width: 0;
  overflow: hidden;
  height: 100%;
  padding: 0;
  flex-shrink: 0;
  transition: width 300ms;
  background: $transparent-dark;
  border-radius: 10px;


  &.docs-section-open {
    padding: 10px;
    overflow: auto;
  }

  .docs-section-content {
    min-width: 300px;
    max-width: 300px;
    height: fit-content;
    background-color: $white;
    border-radius: 8px;
    margin-right: 10px;
    padding: 20px;
    white-space: normal;
  }
}
