.main-inner {
  @include flex-colum();
  position: relative;
  height: calc(100vh - 114px);
}

.title-spacer {
  margin-bottom: 20px;
  line-height: 120%;
}

.sign-container {
  @include flex-colum(center, center);
  padding: 10px 20px;
  background: $base-background-light;
  border-radius: 8px;
  border: 3px solid $base-color;
}

.error-message {
  color: rgb(207, 38, 123);
  margin: 5px 0;
  font-size: 12px;
  height: 15px;
}

.label {
  margin-right: 5px;
  color: $base-color;
}
.input-row {
  @include flex-row(center, space-between);
  width: 100%;
}
.input {
  width: 280px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  caret-color: #dbdbdb;
  outline: none;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
}
.link-to-registration {
  margin-top: 10px;

  text-decoration: none;
  transition: 300ms;
  &:hover {
    color: $base-color;
  }
}
