.welcome-section {
  background-color: $white;
  padding: 20px;
}

.sign-links-container {
  @include flex-row(center, flex-end);
}

.information-section {
  margin-bottom: 50px;
  p {
    text-align: justify;
  }
}
