.button {
  border-radius: 5px;
  transition: 300ms;
  border: 0;
  cursor: pointer;
  padding: 5px 10px;
}

.button-contained {
  background: $base-color;
  color: $white;

  &:hover {
    background: lighten($color: $base-color, $amount: 10%);
  }

  &:disabled {
    background: lighten($color: $base-color, $amount: 30%);

    &:hover {
      cursor: auto;
    }
  }
}

.button-link {
  color: $base-color;
  background: transparent;

  &:hover {
    background: $base-background-light;
  }
}
.button-link_active {
  background: $base-background-light;
}

.button-top-spacer {
  margin-top: 10px;
}

.rotating-element {
  animation: rotate 1s linear infinite;

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
