.black-color {
  color: black;
}

.green-color {
  color: #45d1b5;
}

.base-color {
  color: $base-color;
}

.red-color {
  color: $red-shade;
}

.header-name {
  margin-bottom: 30px;
}

.list-item {
  margin: 7px 0;
  padding: 5px 0 5px 10px;
  color: $red-shade;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    background: $base-background-light;
    transition: 300ms;
  }

  &:active {
    transform: scale(0.95);
    transition: 300ms;
  }

}

.description {
  margin: 20px 0;
  color: $transparent-dark;
  word-wrap: break-word;
}

.types-item {
  margin: 0;
  padding: 2px 0 2px 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mt10 {
  margin-top: 10px;
}

.types-list {
  margin-bottom: 30px;
}

.deprecated {
  font-style: italic;
}
