.url-component {
  position: relative;
}

.url-input {
  width: 100%;
  padding: 10px;
  background: #fbf9ff;
  color: #3a396d;
  border-radius: 8px;
  border: 0;
  outline: 0;
}

.input-button {
  position: absolute;
  top: 5px;
  right: 5px;
}
