.container {
  margin: 0 auto;
  width: 1200px;

  @media (max-width: 1200px) {
    margin: 0 auto;
    width: calc(100% - 40px);
  }
}
.container900 {
  margin: 0 auto;
  width: 900px;

  @media (max-width: 900px) {
    margin: 0 auto;
    width: calc(100% - 40px);
  }
}

.main-title {
  font-size: 40px;
  margin: 30px 0px;
  background: -webkit-linear-gradient(200deg, lighten($base-color, 30%) 20%, $base-color 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: $additional-size) {
    font-size: 35px;
  }
}

.secondary-title {
  font-size: 20px;
  margin: 20px 0px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.spacer {
  flex: 1;
}

.main-inner {
  @include flex-colum();
  position: relative;
  height: calc(100vh - 114px);
  @media screen and (max-width: $additional-size) {
    height: calc(100vh - 142px);
  }
  @media screen and (max-width: $mobile) {
    height: calc(100vh - 138px);
  }
}

.link-button {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
  transition: 300ms;
  text-decoration: none;
  background: $base-color;
  color: $white;

  &:hover {
    background: lighten($color: $base-color, $amount: 10%);
  }
}
