.header {
  @include flex-row(center, space-between);
  padding: 10px 20px;
  position: sticky;
  top: 0px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
  background: $header-background;
  border-radius: 5px;
  z-index: 2;
  @media screen and (max-width: $additional-size) {
    flex-direction: column;
    justify-content: center;
  }
}

.logo-link {
  font-family: $font-montserrat;
  font-weight: 300;
  text-decoration: none;
  color: $base-color;
  padding: 10px 20px;
  font-size: 20px;
  transition: 300ms;
  cursor: pointer;

  &:hover {
    color: darken($color: $base-color, $amount: 20);
  }
  @media screen and (max-width: $additional-size) {
    margin-bottom: 10px;
    text-align: center;
  }
  @media screen and (max-width: $mobile) {
    font-size: 16px;
  }
}
.header-right-part {
  @include flex-row(center, space-between);
}

.logout-button {
  margin-left: 20px;
  @media screen and (max-width: $additional-size) {
    font-size: 10px;
  }
}

.header-scroll {
  padding: 5px 10px;
  margin: 0px;
  border-radius: 0px;

  .logo-link {
    font-size: 18px;
  }
}
