@use 'sass:color';

.header {
  @include flex-row(center, space-between);

  position: sticky;
  top: 0;
  z-index: 2;
  padding: 10px 20px;
  border-radius: 5px;
  background: $header-background;
  transition: 0.3s;
  backdrop-filter: blur(10px);

  @media screen and (max-width: $additional-size) {
    flex-direction: column;
    justify-content: center;
  }
}

.logo-link {
  padding: 10px 20px;
  color: $base-color;
  font-weight: 300;
  font-size: 20px;
  font-family: $font-montserrat;
  text-decoration: none;
  cursor: pointer;
  transition: 300ms;

  @media screen and (max-width: $additional-size) {
    margin-bottom: 10px;
    text-align: center;
  }

  @media screen and (max-width: $mobile) {
    font-size: 16px;
  }

  &:hover {
    color: color.adjust($color: $base-color, $lightness: 20);
  }
}

.header-right-part {
  @include flex-row(center, space-between);
}

.logout-button {
  margin-left: 20px;

  @media screen and (max-width: $additional-size) {
    font-size: 10px;
  }
}

.header-scroll {
  margin: 0;
  padding: 5px 10px;
  border-radius: 0;

  .logo-link {
    font-size: 18px;
  }
}
