.header {
  @include flex-row(center, space-between);
  padding: 10px 20px;
  position: sticky;
  backdrop-filter: blur(10px);
  transition: 0.3s;
  background: $base-background-light;
  margin: 5px;
  border-radius: 5px;

  .logo-link {
    font-family: $font-montserrat;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
  }

  .header-right-part {
    @include flex-row(center, space-between);
  }

  .logout-button {
    margin-left: 20px;
  }
}

.header-scroll {
  padding: 5px 10px;
  margin: 0px;
  border-radius: 0px;

  .logo-link {
    font-size: 18px;
  }
}
